
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="/static/boostrap/css/bootstrap.min.css">
   <script src="/static/jauery/jquery-3.3.1.min.js"></script>
   <script src="/static/boostrap/js/bootstrap.min.js"></script>

</head>

<body>
<div style="width: 1000px;height: auto;margin: 0 auto;margin-top: 50px">
		<table class="table">
				<tr><td><a href="/python_basis/index.html">Python基础</a> </td></tr>
				<tr><td><a href="/python/index.html">python高级</a> </td></tr>
				<tr><td><a href="/redis/index.html">Redis</a> </td></tr>
				<tr><td><a href="/MySQL/index.html">Mysql</a> </td></tr>
				<tr><td><a href="/mongo/index.html">MongoDB</a> </td></tr>
				<tr><td><a href="/tornado/index.html">Tornado</a> </td></tr>
				<tr><td><a href="/django/index.html">Django</a> </td></tr>
				<tr><td><a href="/qianduan/index.html">前端</a> </td></tr>
				<tr><td><a href="/pachong/index.html">爬虫</a> </td></tr>
				<tr><td><a href=""></a> </td></tr>
				<tr><td><a href=""></a> </td></tr>
				<tr><td><a href=""></a> </td></tr>
				<tr><td><a href=""></a> </td></tr>



		</table>
</div>
</body>

</html>